!!!
%html{"ng-app" => "firstPageApp"}
  %head
    %title cgift
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"}
    %script{:src => "https://code.angularjs.org/1.2.16/angular-route.min.js"}
    %script{:src => "/fPage.js"}
  %body
    / message in-case of logout
    %h4= "You logged-out successfully" if @flglogout_local==true
    - @flglogout_local=false
    / routing through multiple pages
    %ng-view
