<h3><a href="/logout">logout</a></h3>
<br/><b>
<form name="packageCollectForm">
	Package pickup:<input type="text" placeholder="address here" ng-required="true" ng-model="parcel.addrss"/>
	<br>
	Date:<input type="date" ng-required="true" ng-model="parcel.dat"/>
	<br>
	Time:<input type="time" ng-required="true" ng-model="parcel.tim"/>	
	<br>
	Weight:<input type="number" ng-required="true" placeholder="in Grams" ng-model="parcel.wght"/>					
	<br>
	<input type="reset" value="clear"/> | <input type="submit" ng-click="packCollect(parcel)" ng-disabled="packageCollectForm.$invalid" value="submit"/>
</form>	
</b><br/>
