<h2>New Project</h2>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Company Name</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Abc Inc.,">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Location</label>
    <div class="controls">
      <input type="text" id="inputPassword" placeholder="10, Rest House Rd">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Billed Amount</label>
    <div class="controls">
      <input type="text" id="inputPassword" placeholder="$453.00">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" ng-click="create()">Save</button>
    </div>
  </div>
</form>